extends ../layouts/default

block content
    .container
    .page-header
        h1.text-center Bert Huys
        p.lead.text-center
            | New Media & Communication Technology student focused on Webdevelopment & Design
    .container
            .row.stylish-panel
                .col-md-4
                    div
                        img.img-circle.img-thumbnail(src='/images/bert.png',width='210px', alt='Bert Huys')
                        h2 Resume
                        p
                            | I'm a new media enthousiast with a creative profile.
                            | My focus lies on web- and graphical design.
                            | You can learn more about me by reading my Resume.
                        a.btn.btn-primary(href='/profile', title='See more') Learn more &raquo;
                .col-md-4
                    div
                        img.img-circle.img-thumbnail(src='http://lorempixel.com/200/200/abstract/2/', alt='Texto Alternativo')
                        h2 Graphic Design
                        p
                            | I keep challenging myself to be creative.<br />
                            | Creating logo's, event-posters, stickers, t-shirt prints etc...
                            | I consider it a hobby.
                        a.btn.btn-primary(href='/gallery', title='See more') See gallery &raquo;
                .col-md-4
                    div
                        img.img-circle.img-thumbnail(src='http://lorempixel.com/200/200/abstract/1/', alt='Texto Alternativo')
                        h2 Web Design
                        p
                            | I develop websites based on my clients' needs.
                            | Going from easy-to-edit CMS-based environments to tailor-made websites.
                        a.btn.btn-primary(href='/references', title='See more') See works &raquo;
            //.row.stylish-panel
                .col-md-4
                    div
                        img.img-circle.img-thumbnail(src='http://lorempixel.com/200/200/abstract/4/', alt='Texto Alternativo')
                        h2 Webdesigner
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            | tempor incididunt ut labore et dolore magna aliqua.
                        a.btn.btn-primary(href='#', title='See more') See works &raquo;
                .col-md-4
                    div
                        img.img-circle.img-thumbnail(src='http://lorempixel.com/200/200/abstract/5/', alt='Texto Alternativo')
                        h2 Photographer
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            | tempor incididunt ut labore et dolore magna aliqua.
                        a.btn.btn-primary(href='#', title='See more') See works &raquo;
                .col-md-4
                    div
                        img.img-circle.img-thumbnail(src='http://lorempixel.com/200/200/abstract/6/', alt='Texto Alternativo')
                        h2 Copywriter
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            | tempor incididunt ut labore et dolore magna aliqua.
                        a.btn.btn-primary(href='#', title='See more') See works &raquo;
