//
   Created by BERT on 28/01/17.
extends ../layouts/default

block content
 .container
 .page-header
		h1.text-center Resume of Bert Huys
		p.lead.text-center
			| Last updated: 14/02/2017
 .container
	.resume
		.row
			.col-xs-12.col-sm-12.col-md-offset-1.col-md-10.col-lg-offset-2.col-lg-8
				.panel.panel-default
					.panel-heading.resume-heading
						.row
							.col-lg-12
								.col-xs-12.col-sm-4
									figure
										img.img-circle.img-thumbnail(alt='Bert Huys', src='/images/bert.png',width='300px',style='margin-bottom:20px')
									//.row
										.col-xs-12.social-btns
											//.col-xs-3.col-md-1.col-lg-1.social-btn-holder
												a.btn.btn-social.btn-block.btn-google(href='#')
													i.fa.fa-google
											.col-xs-3.col-md-1.col-lg-1.social-btn-holder
												a.btn.btn-social.btn-block.btn-facebook(href='#')
													i.fa.fa-facebook
											//.col-xs-3.col-md-1.col-lg-1.social-btn-holder
												a.btn.btn-social.btn-block.btn-twitter(href='#')
													i.fa.fa-twitter
											.col-xs-3.col-md-1.col-lg-1.social-btn-holder
												a.btn.btn-social.btn-block.btn-linkedin(href='#')
													i.fa.fa-linkedin
											//.col-xs-3.col-md-1.col-lg-1.social-btn-holder
												a.btn.btn-social.btn-block.btn-github(href='#')
													i.fa.fa-github
											//.col-xs-3.col-md-1.col-lg-1.social-btn-holder
												a.btn.btn-social.btn-block.btn-stackoverflow(href='#')
													i.fa.fa-stack-overflow
								.col-xs-12.col-sm-8
									ul.list-group
										li.list-group-item Bert Huys
										li.list-group-item Intern Webdeveloper
										li.list-group-item 2design BVBA
										li.list-group-item
											i.fa.fa-phone
											|  +32 473 63 39 26
										li.list-group-item
											i.fa.fa-envelope
											|  bert@berthuys.be
					.bs-callout.bs-callout-danger
						h4 Summary
						p
							| I'm mainly interested in web development with a focus on front-end and webdesign.
							| I want to keep new projects challenging by trying out new ideas and having a different approach with every assignment.
						p
							| Contact with customers doesn't scare me, I have a lot of patience.
							| Professional communication is key.
						p
							|In my spare time I like working with Photoshop and Illustrator or I'm busy going out with my friends or play the guitar.
					.bs-callout.bs-callout-danger
						h4 Research Interests
						p
							| Design, Photoshop, Illustrator,
							| CMS systems, Joomla, KeystoneJS,
							| Node.js, PHP, CSS, Javascript, Html...
					.bs-callout.bs-callout-danger
						h4 Prior Experiences
						ul.list-group
							a.list-group-item.inactive-link(href='#')
								h4.list-group-item-heading
									| Intern at 2design BVBA (20 Februari 2017 - present)
								p.list-group-item-text
									| Webdeveloper.
							a.list-group-item.inactive-link(href='#')
								h4.list-group-item-heading
									| Student job at Vercom BVBA (2015 - present)
								p.list-group-item-text
									| Developing different CMS-based websites for various clients.
									| Creating easy to edit environments for a 'plug-n-play' website experience.
							a.list-group-item.inactive-link(href='#')
								h4.list-group-item-heading Student job at V-Tax (2016)
								p.list-group-item-text
									| Development of a Sollicitationplatform for taxi-drivers
									| , in cooperation with VDAB.
							a.list-group-item.inactive-link(href='#')
								h4.list-group-item-heading Student job at Devos Metaalwerken nv. (2015)
								p.list-group-item-text
									| Labourer
							a.list-group-item.inactive-link(href='#')
								h4.list-group-item-heading Interim at Plastivan N.V. (2013)
								p.list-group-item-text
									| Labourer
							a.list-group-item.inactive-link(href='#')
								h4.list-group-item-heading Interim at Monument Vandekerckhove (2013)
								p.list-group-item-text
									| Labourer
							a.list-group-item.inactive-link(href='#')
								h4.list-group-item-heading Interim at Quadrant (2013)
								p.list-group-item-text
									| Labourer
							a.list-group-item.inactive-link(href='#')
								h4.list-group-item-heading Interim at Devos Plaatbewerking nv. (2013)
								p.list-group-item-text
									| Labourer
					.bs-callout.bs-callout-danger
						h4 Other Experiences
						ul.list-group
							li.list-group-item  Responsible person and secretary Chiro Tijl Ardooie (2012 - 2016)
							li.list-group-item  Supervisor Speelplein 't Ravotterke Ardooie (2012)
					.bs-callout.bs-callout-danger
						h4 Language and Platform Skills
						ul.list-group
							a.list-group-item.inactive-link(href='#')
								.progress
									.progress-bar.progress-bar-success(data-placement='top', style='width: 85%;', aria-valuemax='100', aria-valuemin='0', aria-valuenow='80', role='progressbar')
										span.sr-only 85%
										span.progress-type Joomla
								.progress
									.progress-bar.progress-bar-success(data-placement='top', style='width: 80%;', aria-valuemax='100', aria-valuemin='0', aria-valuenow='1', role='progressbar')
										span.sr-only 80%
										span.progress-type Illustrator
								.progress
									.progress-bar.progress-bar-success(data-placement='top', style='width: 75%;', aria-valuemax='100', aria-valuemin='0', aria-valuenow='1', role='progressbar')
										span.sr-only 75%
										span.progress-type Photoshop
								.progress
									.progress-bar.progress-bar-success(data-placement='top', style='width: 60%;', aria-valuemax='100', aria-valuemin='0', aria-valuenow='1', role='progressbar')
										span.sr-only 60%
										span.progress-type PHP
								.progress
									.progress-bar.progress-bar-success(data-placement='top', style='width: 60%;', aria-valuemax='100', aria-valuemin='0', aria-valuenow='1', role='progressbar')
										span.sr-only 60%
										span.progress-type JavaScript/ NodeJS
								.progress
									.progress-bar.progress-bar-warning(data-placement='top', style='width: 55%;', aria-valuemax='100', aria-valuemin='0', aria-valuenow='1', role='progressbar')
										span.sr-only 55%
										span.progress-type SQL/ MSSQL
								.progress
									.progress-bar.progress-bar-danger(data-placement='top', style='width: 40%;', aria-valuemax='100', aria-valuemin='0', aria-valuenow='60', role='progressbar')
										span.sr-only 40%
										span.progress-type C#
								.progress-meter
									.meter.meter-left(style='width: 25%;')
										span.meter-text little
									.meter.meter-left(style='width: 25%;')
										span.meter-text basic
									.meter.meter-right(style='width: 25%;')
										span.meter-text expert
									.meter.meter-right(style='width: 25%;')
										span.meter-text good
					.bs-callout.bs-callout-danger
						h4 Education
						table.table.table-striped.table-responsive
							thead
								tr
									th Degree
									th Graduation Year
							tbody
								tr
									td Bachelor New Media & Communication Technology
									td 2017 ?
								tr
									td Engineering
									td did not finish
								tr
									td Secondary education: Science - Mathematics (aso)
									td 2012
